      <h1>The Food App</h1>
      <h2>NuColo</h2>
      <div>    
    	  <div class="row">
    		  <div class="col-xs-12 col-md-2">NuColo Login</div>
    		  <div class="col-xs-12 col-md-2">NuColo Register</div>
    		  <div class="col-xs-12 col-md-2" >Workouts</div>
    	  </div>
      </div>