      <h1>The Food App</h1>
      <h2>NuColo</h2>
      <div class="container-fluid">    
    	  <div class="row">
    		 <a class="btn btn-default" href="#" role="button">Login</a>
    		 <a class="btn btn-default" href="#" role="button">Register</a>
    		 <a class="btn btn-default" href="#" role="button">Workouts</a>
    	  </div>
      </div>