<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">

      <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My e-fridge</h1>
        </div>  
      </div>
      <div id="dataSearch" class="well" hidden>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input id="userSearch" type="text" class="form-control" placeholder="Search my e-Fridge">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
       <p><strong><%= description %></strong></p>
      </div>
      <div class="well">
          <button type="button" class="btn btn-lg btn-primary" id="btntest1">Create Food</button>
          <button type="button" class="btn btn-lg btn-secondary" id="btntest3">Database</button>
      </div>
       <% include ./partials/food_table.ejs %>
       <% include ./partials/foodform.ejs %>
      <script type="text/javascript" src="./javascripts/bundle2.js"></script>
  </body>
</html>
