<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">

      <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My e-gym</h1>
        </div>  
      </div>
      </div> 
      <div class="well">
        <button type="button" class="btn btn-default" id="btntest5">Workouts</button> 
      </div>
        <% include ./partials/exercise_table.ejs %> 
        <% include ./partials/exercise.ejs %>
      <script type="text/javascript" src="./javascripts/bundle3.js"></script>
  </body>
</html>