<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">

      <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My Kitchen</h1>
        </div>  
      </div>
      </div>  
        <% include ./partials/exercise_table.ejs %> 
      <script src="./javascripts/bundle.js"></script>
  </body>
</html>
