<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">

      <div>
      <div class="jumbotron">
        <div class="container">
          <h1>Colorado e-tools</h1>
          <h2>for Health</h2>
        </div>  
      </div>
      </div> 
      <div class="well container-fluid">
           <button type="button" class="btn btn-lg" id="btntest4">Register</button> 
      </div>
        <% include ./partials/register.ejs %> 
      <script type="text/javascript" src="./javascripts/bundle.js"></script>
  </body>
</html>
